In [1]:
import sqlalchemy
import pandas as pd
from sqlite3 import connect

In [2]:
conn = connect(':memory:')
df = pd.DataFrame(data=[[0, '10/11/12'], [1, '12/11/10']],
                   columns=['int_column', 'date_column'])
df.to_sql(name='test_data', con=conn)

2

In [3]:
pd.read_sql('SELECT int_column, date_column FROM test_data', conn)

   int_column date_column
0           0    10/11/12
1           1    12/11/10

In [5]:
#pd.read_sql('test_data', 'postgres:///db_name')

In [6]:
pd.read_sql('SELECT int_column, date_column FROM test_data',
             conn,
             parse_dates={"date_column": {"format": "%d/%m/%y"}})

   int_column date_column
0           0  2012-11-10
1           1  2010-11-12